.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #141313;
    border-radius: 5px;
  }
  
  .forgot-password-title {
    text-align: center;
    margin-bottom: 20px;
    color: #f1f1f1;
  }
  
  .forgot-password-label {
    display: block;
    margin-bottom: 10px;
    color: #f1f1f1;
  }
  
  .forgot-password-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #6d6868;
    border-radius: 3px;
  }
  
  .forgot-password-button {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #84dcf5;
    color: white;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  .forgot-password-button:hover {
    background-color: #db8915;
  }
  
  .forgot-password-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .forgot-password-code .forgot-password-input {
    width: 60%;
  }
  
  .forgot-password-code .forgot-password-button {
    width: 35%;
  }
  
  .forgot-password-password {
    margin-top: 20px;
  }