body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f7f7;
}

.user-profile-edit {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #030000;
  color: #fbfbfb;
}

.profile-image {
  flex: 1;
  margin-right: 40px;
  text-align: center;
}

.profile-image img {
  max-width: 200px;
  border-radius: 50%;
}

.profile-image input[type="file"] {
  margin-top: 10px;
}

.user-info {
  flex: 2;
}

.user-info h2 {
  margin-bottom: 20px;
}

.user-info form {
  display: flex;
  flex-direction: column;
}

.user-info label {
  margin-bottom: 15px;
}

.user-info input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.user-info p {
  margin-bottom: 10px;
}

.user-info button {
  padding: 10px 20px;
  background-color:  #ef6a39;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 80px;
}

.user-info button:hover {
  background-color: #ef6a39;
}
