.wrapper{
    margin-bottom: 10px;
    .author{
        margin-left: 5px;
        font-weight: bold;
        font-size: 20px;
    }
    .date{
        margin-left: 10px;
        color: #a7a7a7;
    }
    .content{
        margin-left: 30px;
    }
}