@font-face {
    font-family: 'Facebook Sans';
    src: url('../../fonts/FacebookNarrowAppRegular.ttf') format('truetype');
    /* Thay đổi đường dẫn tới font chữ nếu cần */
  }
  
  body {
    font-family: 'Facebook Sans', sans-serif;
    /* Sử dụng font chữ Facebook Sans cho toàn bộ ứng dụng */
  }

a:hover{
  color: white;
}